h1{
    text-align: center;
    font-size: 36px;
    padding-top: 30px;
    color: lavender;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
}

#header{
    height: 100px;
    background-color: #004064;
    background-image: url(../images/header/photo_2021-01-08_16-59-33.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.wrap{
    display: flex;
}
.photo{
    width: 200px;
    height: 200px;
    margin: 10px;

}
.text{
    padding-left: 20px;
    margin: 10px;
}
#content{
    min-height: 100vh;
    background-color: rgb(91, 93, 119);
}

#footer{
    height: 100px;
    background-color: rgb(68, 68, 82);
}